<ul kendo-panel-bar class="t-side-panel-bgcolor" style="font-size: 14px;">
    <li class="k-state-active">
        <span class="panel-bar-label-no-wrap">Config Category 1</span>
					
		<div class="config-option-single-row" style="margin:10px 20px; font-size: 14px;">
			<div class="config-option-ie11-overflow-fix">
				<div class="config-label">Config option 1</div>
				
				<input type="number" min="0" max="10"
					   style="width:100px; height:100%; float: right; margin-right:25px;"
					   ng-model="config.DisplayDigits">
			
			</div>
		</div>	
		
        <div style="width: 85%; margin: 10px 0 15px 20px;">
			<pv-color-picker colorkeyword="Config option 2" ng-model="config.BackgroundColor">
            </pv-color-picker>
        </div>
		
		<div class="config-option-single-row" style="margin-left:20px; font-size: 14px;">
			<div class="config-option-ie11-overflow-fix">
				<div class="config-label">Config option 3</div>
				
				<input class="config-option-single-row-input" type="range" min="0" max="20" step="1" 
					   ng-model="config.BorderRadius" 
					   style="width:100px; height:100%; float: right; margin-right:25px;" 
					   title="{{config.BorderRadius}}">
					   
			</div>
		</div>
    </li>
	 
	 <li class="k-state-active">
        <span class="panel-bar-label-no-wrap">Config Category 2</span>
					
		<div class="config-option-single-row" style="margin:10px 20px; font-size: 14px;">
			<div class="config-option-ie11-overflow-fix">
				<div class="config-label">Config option 4</div>
				
				<input type="number" min="0" max="10"
					   style="width:100px; height:100%; float: right; margin-right:25px;"
					   ng-model="config.DisplayDigits">
					   
			</div>
		</div>	
		
        <div style="width: 85%; margin: 10px 0 15px 20px;">
			<pv-color-picker colorkeyword="Config Option 5" ng-model="config.BackgroundColor">
            </pv-color-picker>
        </div>
		
		<div class="config-option-single-row" style="margin-left:20px; font-size: 14px;">
			<div class="config-option-ie11-overflow-fix">
				<div class="config-label">Config Option 6</div>
				
				<input class="config-option-single-row-input" type="range" min="0" max="20" step="1" 
					   ng-model="config.BorderRadius" 
					   style="width:100px; height:100%; float: right; margin-right:25px;" 
					   title="{{config.BorderRadius}}">
		
		</div>
		</div>
    </li>
</ul>
