gonderilecek_mail_adresleri={EMAIL}
gonderilecek_dosya_isimleri=YNY.xlsm,YNY2.xlsm,YNY3.xlsm
gonderilecek_dosyalarin_dizini=C:\Users\{USER}\Desktop\Datalink Reports\Config\,C:\Users\{USER}\Desktop\Datalink Reports\Config\,C:\Users\{USER}\Desktop\Datalink Reports\Config\
yeni_excel_dosyalarinin_kaydedilecegi_dizin=C:\Users\{USER}\Desktop\Datalink Reports\Config\Excel\,C:\Users\{USER}\Desktop\Datalink Reports\Config\Excel\,C:\Users\{USER}\Desktop\Datalink Reports\Config\Excel\
